<!doctype html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/assets/style.css" />
    </head>
    <body>
        <main>
            <h1>Welcome to the VanHouzen Family!</h1>
            <p>
                This site houses the personal pages for the VanHouzen family and
                friends
            </p>
            <h2>VanHouzens</h2>
            <a href="/cameron">
                <section>
                    <h2>Cameron VanHouzen</h2>
                </section>
            </a>
            <a href="/courtney">
                <section>
                    <h2>Courtney VanHouzen</h2>
                </section>
            </a>
            <a href="/wade">
                <section>
                    <h2>Wade VanHouzen</h2>
                </section>
            </a>
            <a href="/janet">
                <section>
                    <h2>Janet VanHouzen</h2>
                </section>
            </a>
            <h2>Friends</h2>
            <p>Checkout the websites of our friends!</p>
            <a href="/schrider">
                <section>
                    <h2>Schriders</h2>
                </section>
            </a>
            <a href="/pobuda">
                <section>
                    <h2>Pobudas</h2>
                </section>
            </a>
        </main>
    </body>
</html>
